<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dr. M.Ponnavaikko</title>
<style fprolloverstyle>A:hover {color: #FF0000; font-weight: bold}
</style>
</head>

<body link="#955900" vlink="#955900" alink="#FF0000">
<center>
<table border="0" width="800" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td width="185" rowspan="9" valign="top">
		<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vccre.htm">
				<span style="text-decoration: none">Credentials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<!--<a target="home" href="vcbio.pdf">-->
				<span style="text-decoration: none">Bio-Data</span></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><a href="vcbio-tam.htm" target="_self" class="style1"><span style="text-decoration: none"><img src="images/tamil-tx.jpg" border="0"></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><a href="vcbio-eng.htm" target="_self" class="style1"><span style="text-decoration: none">English</span></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vctest.htm">
				<span style="text-decoration: none">Testimonials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vclang.htm">
				<span style="text-decoration: none">Languages Known</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vcmem.htm">
				<span style="text-decoration: none">Membership</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="photo.htm">
				<span style="text-decoration: none">Photo Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="../../video.htm">
				<span style="text-decoration: none">Video Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<p align="center">
				</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<p align="center">
				</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<img border="0" src="flower23.jpg" width="115" height="113"></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</td>
		<td width="13">&nbsp;</td>
		<td rowspan="6" valign="top">

<table border="0" width="600" id="table3" cellspacing="0" cellpadding="0">
	<tr>
		<td colspan="4" bgcolor="#FFFFFF">
		<p align="center"><b>
		<span lang="EN-GB" style="font-family: Arial; ">
		Original Contributions and Achievements of Dr. M. Ponnavaikko</span></b></td>
	</tr>
	<tr>
		<td colspan="4" bgcolor="#FFFFFF">&nbsp;		</td>
	</tr>
	<tr>
		<td width="34" bgcolor="#FF0000">
		<font color="#006699" style="font-size: 1pt">..</font></td>
		<td width="17" bgcolor="#FF0000">
		<font color="#006699" style="font-size: 1pt">..</font></td>
		<td width="9" bgcolor="#FF0000">
		<font color="#006699" style="font-size: 1pt">..</font></td>
		<td width="822" style="text-align: justify" valign="top" bgcolor="#FF0000">
		<font color="#006699" style="font-size: 1pt">..</font></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Introduced programmes to Empower Rural youth through skill based 
		training programs at Bhathidasan University.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<font size="2" color="#955900"><span style="font-family: Arial">
		Introduced employable Skill based Curriculum in the Under Graduate 
		degree programs in all the Universities in Tamil Nadu at Bhathidasan 
		University.</span></font></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Introduced &nbsp;innovative 6-year M.Tech. programmes introducing an 
		innovative concept of Early Graduation&nbsp; by the Fast learners at 
		Bhathidasan University.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Introduced &nbsp;new innovative Four-year B.S. programmes in the Science 
		subjects to be offered in the Arts and Science Colleges of Bhathidasan 
		University.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<font size="2" color="#955900"><span style="font-family: Arial">
		Established &nbsp;Counselling&nbsp; and Career Development&nbsp; Centres (CCDC) in the 
		Rural Areas to provide services like Career Guidance, Empowerment of Men 
		and Women, Formal training to the artisans and to offer Academic 
		programs of the University through Distance Education &nbsp;mode at 
		Bhathidasan University <a href="https://www.cmblogwatch.net/portofino-c-112_116/">Replica IWC Portofino</a>
.</span></font></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Established a Facilitation Centre for developing software and hardware 
		tools for the disabled persons at Bhathidasan University.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Introduced Computer courses for Senior Citizens at Bhathidasan 
		University</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span style="font-family: Arial"><font size="2" color="#955900">
		Introduced a School University Industry Tie-up Scheme (SUITS) to offer 
		Certificate Courses &nbsp;in IT for &nbsp;School Children at Bhathidasan 
		University.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" rowspan="2" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Developed and dedicated Tamil Virtual University (TVU) to the world 
		community as the Founder Director of TVU, a unique Virtual Education 
		platform for learning Tamil using internet and web technology.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" rowspan="2" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Contributed Original Mathematical tools (O.R. Techniques) and Computer 
		Methods for optimal distribution system planning. My models are known as 
		&quot; <b>Ko Models</b>&quot; in the literature</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Developed Nomograms for Distribution System Analysis and Planning.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" rowspan="2" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Designed and Developed new courses in Computer Science and Engineering 
		both at UG and PG levels for Bharathidasan and Madras University. <a href="https://www.tttime.co/">Replica Watches</a></font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" rowspan="2" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Developed Laboratories such as Parallel Computing and Distributed 
		Systems, Multimedia Computing, Internet Computing Labs, etc. in 
		different Engineering Colleges.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" rowspan="2" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established Intranet and campus-wide network with Fibre Optics as 
		backbone in the campus at Crescent Engineering College.</font></span></td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top">&nbsp;</td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
		<td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established a OFC based campus-wide network with wireless internet 
		facilities, upgrading the computing facilities with all platforms, <a href="https://www.tttime.co/omega.html">omega replica watches</a>
		including Mac, Sun solaris, Linex, Unix and&nbsp; Windows and high-end 
		servers, storage devises, desktops, workstations and network switches.</font></span></td>
	</tr>
	<tr>
		<td colspan="4">&nbsp;</td>
		</tr>
	<tr>
		<td width="34">&nbsp;</td>
		<td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
		<td width="9">&nbsp;</td>
	    <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established ?Tamil Perayam? for promoting Cultural Values and Tamil Computing at SRM University.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="9">&nbsp;</td>
	  <td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
	  <td width="9">&nbsp;</td>
	  <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established "a Centre for Entrepreneurship and Skill Development (CESD)" for providing Community services.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="9">&nbsp;</td>
	  <td width="822" style="text-align: justify" valign="top">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
	  <td width="9" rowspan="12">&nbsp;</td>
	  <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Introduced Computer Skill empowerment programs for the School Children in the name of ?SUITS? at Bharathidasan University and in the name of ?SUCCESS? at SRM University.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
	  <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established "Nanotechnology Research Centre"  at SRM University in 2005.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
	  <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established "Interdisciplinary Scholl of Indian System of Medicines" at SRM University for developing Siddha, Ayurveda and Unani medicines.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF" valign="top"><b><font size="4" color="#FF0000">*</font></b></td>
	  <td width="822" style="text-align: justify" valign="top">
		<span lang="EN-GB" style="font-family: Arial">
		<font size="2" color="#955900">Established "International GLP and GCP complied National Facility for Clinical Trial" at SRM University.</font></span></td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;</td>
	  <td width="17" bgcolor="#FFFFFF">&nbsp;</td>
	  <td width="822" valign="top" style="text-align: justify">&nbsp;</td>
	</tr>
	</table>

		</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
		<td>&nbsp;
				</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
		<td>&nbsp;
				</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="90%"><p align="center"><font face="Verdana" size="1" color="#955900"> ? 2009. All rights Reserved. www.ponnavaikko.com <br> Best viewed in I.E. 4.0 and above in 1024 x 768</span></font></p></td>
    <td width="10%" align="center"><a href="http://www.youtube.com/channel/UCCsJRbBFN2306MSnlJ5tekA/videos?view=0" target="_blank"><img src="ytube.jpg" border="0"></a></td>
  </tr>
</table></td>
	</tr>
</table>
</center>
</body>

</html>