<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dr. M.Ponnavaikko</title>
<style fprolloverstyle>A:hover {color: #FF0000; font-weight: bold}
</style>
</head>

<body link="#955900" vlink="#955900" alink="#FF0000">
<center>
<table border="0" width="800" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td width="185" rowspan="7" valign="top">
		<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vccre.htm">
				<span style="text-decoration: none">Credentials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<!--<a target="home" href="vcbio.pdf">-->
				<span style="text-decoration: none">Bio-Data</span></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><a href="vcbio-tam.htm" target="_self" class="style1"><span style="text-decoration: none"><img src="images/tamil-tx.jpg" border="0"></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><a href="vcbio-eng.htm" target="_self" class="style1"><span style="text-decoration: none">English</span></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vctest.htm">
				<span style="text-decoration: none">Testimonials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vclang.htm">
				<span style="text-decoration: none">Languages Known</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vcmem.htm">
				<span style="text-decoration: none">Membership</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="photo.htm">
				<span style="text-decoration: none">Photo Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="../../video.htm">
				<span style="text-decoration: none">Video Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<p align="center">
				<img border="0" src="flower25.jpg" width="115" height="81"></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<p align="center">
				</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</td>
		<td width="13">&nbsp;</td>
		<td rowspan="6" valign="top">

<table border="0" width="100%" id="table3" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" colspan="3"><font face="Arial" size="4">Contact
		</font><span lang="EN-GB" style="font-family: Arial"><font size="4">
		Details</font></span></td>
	</tr>
	<tr>
		<td align="center" colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td bgcolor="#FF0000" align="center" colspan="3">
		<font color="#FF0000" style="font-size: 1pt">...</font></td>
	</tr>
	<tr>
		<td align="center" colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		Permanent Address</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Dr. M. 
		Ponnavaikko</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">2/255, 
		Anna Street</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Kurunji 
		Nagar, Vandalur</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Chennai 
		- 600 048</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		Tamilnadu, India</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Office 
		Address</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		Provost</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		Vinayaka Mission’s Research Foundation, Deemed to be University</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		Vinayaka Nagar, Rajiv Gandhi Salai (OMR), Paiyanoor – 603104, Kanchipuram District, Tamil Nadu, India</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td width="3%" align="left">&nbsp;</td>
		<td width="66%" align="left"><b><span style="font-size: 12.0pt; font-family: Arial">Tamil Nadu, India</span></b></td>
	</tr>
	<tr>
	  <td align="center">&nbsp;</td>
	  <td width="3%" align="left">&nbsp;</td>
	  <td width="66%" align="left">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Phone</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial"><strong>0091 - 44 - 2275 1615 </strong>(Res.)</span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">0091 – 08754541025/26</span></b><span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">
		<b>(Off.)</b></span></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial">Fax</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial"><b>
		0091 - 44 - 2229 9005 </b></span></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="FR" style="font-size: 12.0pt; font-family: Arial">Cell Phone</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%"><b>
		<span lang="FR" style="font-size: 12.0pt; font-family: Arial">
		09789029555,  09840090652 </span></b></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">
		<p align="left">
		<span lang="IT" style="font-size: 12.0pt; font-family: Arial">E-Mail ID</span></td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">
		<span lang="IT" style="font-size: 12.0pt; font-family: Arial; color: black">
		<a style="color: blue; text-decoration: underline; text-underline: single" href="mailto:provost@vmu.edu.in">
		provost@vmu.edu.in</a>, </span>
		<span lang="EN-GB" style="font-size: 12.0pt; font-family: Arial; color: black">
		<a style="color: blue; text-decoration: underline; text-underline: single" href="mailto:ponnav@gmail.com">
		<span lang="FR">ponnav@gmail.com</span></a></span></td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" width="31%">&nbsp;</td>
		<td align="left" width="3%">&nbsp;</td>
		<td align="left" width="66%">&nbsp;</td>
	</tr>
</table>

		</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="90%"><p align="center"><font face="Verdana" size="1" color="#955900"> © 2009. All rights Reserved. www.ponnavaikko.com <br> Best viewed in I.E. 4.0 and above in 1024 x 768</span></font></p></td>
    <td width="10%" align="center"><a href="http://www.youtube.com/channel/UCCsJRbBFN2306MSnlJ5tekA/videos?view=0" target="_blank"><img src="ytube.jpg" border="0"></a></td>
  </tr>
</table></td>
	</tr>
</table>
</center>
</body>

</html>