<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Dr. M.Ponnavaikko</title>
<style fprolloverstyle>A:hover {color: #FF0000; font-weight: bold}
</style>
</head>

<body link="#955900" vlink="#955900" alink="#FF0000">
<center>
<table border="0" width="800" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td width="185" rowspan="7" valign="top">
		<table border="0" width="100%" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vccre.htm">
				<span style="text-decoration: none">Credentials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<!--<a target="home" href="vcbio.pdf">-->
				<span style="text-decoration: none">Bio-Data</span></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td colspan="2"><a href="vcbio-tam.htm" target="_self" class="style1"><span style="text-decoration: none"><img src="images/tamil-tx.jpg" border="0"></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><a href="vcbio-eng.htm" target="_self" class="style1"><span style="text-decoration: none">English</span></a></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vctest.htm">
				<span style="text-decoration: none">Testimonials</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vclang.htm">
				<span style="text-decoration: none">Languages Known</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial" color="#955900">
				<a target="home" href="vcmem.htm">
				<span style="text-decoration: none">Membership</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="photo.htm">
				<span style="text-decoration: none">Photo Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td><font face="Arial"><a href="../../video.htm">
				<span style="text-decoration: none">Video Gallery</span></a></font></td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<p align="center">
				</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td width="12">&nbsp;</td>
				<td>
				<img border="0" src="flower15.jpg" width="116" height="116"></td>
			</tr>
		</table>
		</td>
		<td width="13">&nbsp;</td>
		<td rowspan="6" valign="top">
		<table border="0" width="100%" id="table3" cellspacing="0" cellpadding="0">
			<tr>
				<td>
				<p align="center">
				<span style="font-family: Arial; font-weight: 700">
				Specialization Areas</span></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td bgcolor="#FF0000">
				<font color="#FF0000" style="font-size: 1pt">..</font></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Power system Planning </font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
			  <td style="text-align: justify"><font face="Arial" color="#955900"> Optimal Distribution System Planning </font></td>
		  </tr>
		  <tr>
			  <td style="text-align: justify">&nbsp;</td>
		  </tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Virtual Education</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Software Engineering</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Computer Simulation and Modelling</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Operation Research Techniques 
				including Genetic Algorithm</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Neural Network and Fuzzy Logic</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Computer curriculum Development</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Computer Architecture</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Pattern Recognition</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Natural Language Processing</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Speech Technology</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Wireless Networking</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Signal Processing</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Data Mining</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify">
				<font face="Arial" color="#955900">Nanotechnology</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			<tr>
				<td style="text-align: justify"><font face="Arial" color="#955900">Tamil Computing</font></td>
			</tr>
			<tr>
				<td style="text-align: justify">&nbsp;</td>
			</tr>
			
			<tr>
			  <td style="text-align: justify">&nbsp;</td>
		  </tr>
		</table>
		</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td width="13">&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="90%"><p align="center"><font face="Verdana" size="1" color="#955900"> © 2009. All rights Reserved. www.ponnavaikko.com <br> Best viewed in I.E. 4.0 and above in 1024 x 768</span></font></p></td>
    <td width="10%" align="center"><a href="http://www.youtube.com/channel/UCCsJRbBFN2306MSnlJ5tekA/videos?view=0" target="_blank"><img src="ytube.jpg" border="0"></a></td>
  </tr>
</table></td>
	</tr>
</table>
</center>
</body>

</html>